.container {
  width: 280px;
  color: #314d3e;
}

.title {
  font-size: 14px;
  font-weight: bold;
  padding: 8px 0px;
}

.button {
  border: none;
  border-radius: 5px;
  background-color: #0d92f9;
  font-size: 1rem;
  color: white;
  padding: 0.7rem 0.9rem;
  margin: 0.5rem 0;
}

#errors {
  color: #ff0000;
  padding: 8px 0px;
}

.textbox {
  width: 100%;
  font-size: 12px;
  margin: 0;
  padding: 0px 2px;
}
